<% layout("layout") -%>

<div class="container">

	<div class="row">
		<div class=" col-xs-12 col-sm-12 col-md-3">
			<img class="img-circle img-responsive img-center" src="<%= user.profile.picture %>" alt="">
			<br>
			<p>Name: <%= user.profile.name %></p>
			<p>Email: <%= user.email %></p>
			<% if(user.address === "" || typeof user.address === "undefined"){ %>
			<p>Address: <span style="color: #c0392b; font-weight: bold">You have no address</span></p>
			<% } else { %>
			<p>Address: <%= user.address %></p>
			<% } %>
			<div class="form-group">
			<a class="form-control btn btn-warning" href="/edit-profile">Profile Settings</a>
			</div>
			<% if(user.isAdmin || user.superUser){ %>
				<div class="form-group">
					<label class="text-center form-control">Admin Settings: </label>
						<a href="/users" class="form-control btn btn-success">Users</a>
						<a href="/product" class="form-control btn btn-success">Product</a>
						<a href="/history" class="form-control btn btn-success">Transaction History</a>
				</div>
			<% } %>
		</div>
		
		<div class="col-sm-12 col-xs-12 col-md-9">
			<div class="col-md-6">
			<h2 class="text-center">History</h2>
				<table class="table table-striped sticky-header">
					<thead>
					<tr>
						<th>Item's Name</th>
						<th>Paid: </th>
						<th>Date: </th>
					</tr>
					<tbody>
					<% if(history.length > 0){ %>
						<% for(var i = 0; i < history.length; i++){ %>
							<tr>
								<td><%= history[i].item.name %></td>
								<td><%= history[i].paid %></td>
								<td><%= moment(history[i].date) %></td>
							</tr>
						<% } %>
						<% } %>
					</tbody>
					</thead>
				</table>
			</div>
		</div>
		
	</div>
</div>