<% layout("layout") -%>


<div class="container">
	<div class="row">
		<div class="col-md-6">
				<% if(message.length >0){ %>
			<div class="alert alert-success alert-dismissible">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
					
				</button>
				<%= message %>
			</div>
		<% } %>
		
			<% foundCart.items.forEach(function(foundCart){ %>
				<div class="list-group">
					<span class="list-group-item" style="background-color: rgba(234, 206, 46, 0.8);">
						<div class="row">
							<div class="col-md-3">
							<a href="/product/<%= foundCart.item._id  %>">
				<% if(foundCart.item.image.search("http://lorempixel.com") === 0){%>
							<span><img class="product-image" src="<%= foundCart.item.image %>"></span>
						<% }else{ %>
								<span><img class="product-image" src="http://localhost/nodejs/ecommerce/routes/images/<%= foundCart.item.image %>"></span>
							<% } %>
							</a>
							</div>
							<div class="col-md-6">
							<a style="text-decoration: none;" href="/product/<%= foundCart.item._id  %>">
								<p class="list-group-item-heading"><strong><%= foundCart.item.name %></strong></p>
							</a>
							</div>
							<div class="col-md-3">
								<p>Quantity: <%= foundCart.quantity %></p>
								<p>Price: <strong>P<%= foundCart.item.price %></strong></p>


								<form action="/remove" method="POST">
									<input type="hidden" name="item" value="<%= foundCart._id %>">
									<input type="hidden" name="price" value="<%= foundCart.price %>">
									<input type="hidden" name="quantity" value="<%= foundCart.quantity %>">
									<button class="btn btn-info btn-sm">Remove</button>
								</form>
							</div>
						</div>
					</span>
				</div>
		<% }); %>
		</div>
		<div class="col-md-3">

		</div>
		<div class="col-md-3">
			<div class="list-group" style="background-color: rgba(128,128,128,0.8);">
				<span class="list-group-item" style="background-color: rgba(234, 206, 46, 0.5);">
					<h4>Total: Php<span class="totalPrice"><%= foundCart.total %></span></h4>
					<% if(foundCart.total > 0){ %>
					<div class="form-group">
						<input type="hidden" name="<%= foundCart.total %>">
						<button type="submit" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Pay with Visa Mastercard</button>
					</div>
					<% } %>
				</span>
			</div>			
		</div>
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">Visa Mastercard</h4>
			      </div>
			      <div class="modal-body">
			        <!-- Credit card form -->
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><img class="pull-right" src="http://i76.imgup.net/accepted_c22e0.png">Payment Details</h3>
                </div>
                <div class="panel-body">
                    <form role="form" id="payment-form" action="/payment" method="POST">
                    <input type="hidden" name="stripeMoney" value="<%= foundCart.total %>">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="cardNumber">CARD NUMBER</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="cardNumber" placeholder="Valid Card Number" required autofocus data-stripe="number" />
                                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                    </div>
                                </div>                            
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7 col-md-7">
                                <div class="form-group">
                                    <label for="expMonth">EXPIRATION DATE</label>
                                    <div class="col-xs-6 col-lg-6 pl-ziro">
                                        <input type="text" class="form-control" name="expMonth" placeholder="MM" required data-stripe="exp_month" />
                                    </div>
                                    <div class="col-xs-6 col-lg-6 pl-ziro">
                                        <input type="text" class="form-control" name="expYear" placeholder="YY" required data-stripe="exp_year" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-5 col-md-5 pull-right">
                                <div class="form-group">
                                    <label for="cvCode">CV CODE</label>
                                    <input type="password" class="form-control" name="cvCode" placeholder="CV" required data-stripe="cvc" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn btn-success btn-lg btn-block" type="submit">Pay: Php(<%= foundCart.total %>)</button>
                            </div>
                        </div>
                        <div class="row" style="display:none;">
                            <div class="col-xs-12">
                                <p class="payment-errors"></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
			      </div>
			      <!-- <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary">Save changes</button>
			      </div> -->
			    </div>
			  </div>
			</div>		
	</div>
	<div class="row">
		<div class="col-lg-2 col-md-offset-6">
			<div class="text-center" id="loading">
				
			</div>
		</div>
	</div>
</div>
